@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Hello World app!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <br />
    <h2 class="display-3">Team Members</h2>
    <ul>
        @foreach (var teamMember in Model.TeamMembers)
        {
            <li>@teamMember</li>
        }
    </ul>
    <form method="post" action="/Home/AddTeamMember">
        <input name="TeamMemberName" type="text" />
        <button type="submit">Add to list</button>
    </form>
</div>

