@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
    var loggedIn = SignInManager.IsSignedIn(User);
}

<div class="text-center">
    @if (!loggedIn)
    {
        <div class="alert alert-warning" role="alert">
          <b>Hey listen!</b> In order to edit the Team Member list, please log in into your admin acount.
        </div>
    }
    

    <br />
    <h2 class="display-3">Team Members</h2>
    <ul id="teamMemberList">
       
    </ul>
    @if (loggedIn)
    {
        <input id="teamMemberInput" type="text" />
        <button type="submit" id="addTeamMemberButton">Add to list</button>
        <button id="clearButton">Clear</button>
    }
</div>

@section modalWindows {
    <div class="modal fade" id="editClassmate" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Classmate</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Name
                        <input id="classmateName" title="Name" type="text">
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="editSubmit" type="button" class="btn" data-dismiss="modal">Submit</button>
                    <button id="editCancel" type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        const loggedIn = @(loggedIn.ToString().ToLower()) 
	</script>
    <script type="text/javascript" src="~/js/Index.js"></script>
}

@section Styles {
    <script src="https://kit.fontawesome.com/5bf255b872.js" crossorigin="anonymous"></script>
}
