@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Hello World app!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <br />
    <h2 class="display-3">Team Members</h2>
    <ul id="teamMemberList">
       
    </ul>
    <input id="teamMemberInput" type="text" />
    <button type="submit" id="addTeamMemberButton">Add to list</button>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Index.js"></script>
}

