@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Hello World app!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <br />
    <h2 class="display-3">Team Members</h2>
    <ul id="team-list">
        <li>Fineas</li>
        <li>Patrick</li>
        <li>Radu</li>
        <li>Tudor</li>
        <li>Emma</li>
    </ul>
    <input id="team-name-field" type="text" />
    <button id="add-team-button">Add to list</button>
</div>

@section Scripts {
    <script>
        $(document).ready(() => {
            const teamNameField = $("#team-name-field")

            $("#add-team-button").click(() => {
                const newTeamName = teamNameField.val()
            
                $("#team-list").append(`<li>${newTeamName}</li>`)

                teamNameField.val("")
            })
        })
    </script>
}
