@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Hello World app!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <br />
    <h2 class="display-3">Team Members</h2>
    <ul id="teamList">
        <li>Fineas</li>
        <li>Patrick</li>
        <li>Radu</li>
        <li>Tudor</li>
        <li>Emma</li>
    </ul>
    <input id="teamNameField" type="text" />
    <button id="addTeamButton">Add to list</button>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Index.js"></script>
}
